.profile-page .description {
    margin: 30px auto 0;
    max-width: 600px;
    text-align: center !important;
}

.main-raised-about {
    margin: 0px 0px 0px;
    border-radius: 4px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.subheader-box {
    background-image: url(../img/about-sub.jpg);
    padding: 128px 105px 70px;
    background-size: cover;
    background-position: center center;
}

.profile-content-about {
    padding: 0px 60px;
}

.row.about-row {
    padding-bottom: 60px;
    padding-top: 45px;
}

.profile-page .profile {
    text-align: center;
}

p.profile-about {
    text-align: center;
    color: #404040;
}

.name {
    text-align: center;
}

.profile-page .description {
    margin: 30px auto 0;
    max-width: 600px;
    text-align: center;
}

span.icon-head {
    position: relative;
    top: -4px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

.about-contact {
    margin-top: 25px;
}

h3.about-main-head {
    border-bottom: 1px solid #9999998f;
    padding-bottom: 7px;
}

p.about-details {
    color: #444;
    font-size: 14px;
}

h3.about-main-head {
    border-bottom: 1px solid #9999998f;
    padding-bottom: 7px;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.label {
    border-radius: 10px;
    padding: 6px 17px;
    text-transform: uppercase;
    font-size: 11px;
}

p.outside-work {
    font-style: italic;
}

/*work*/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background: rgb(240, 187, 181);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/*contact*/
button.btn.btn-contact {
    background-color: #f0bbb5 !important;
}

.form-group.is-focused .form-control
{
    outline: none;
    background-image: linear-gradient(#404040, #404040), linear-gradient(#d2d2d2, #d2d2d2) !important;
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

.form-group.is-focused .form-control label.control-label
{
    color: #000 !important;
}

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label
{
    color: #404040 !important;
}

